body{
    font-family: Roboto;
    color: rgba(46, 47, 66, 1);
    background-color: white;
}

h1{
    font-size: 56px;
    line-height: 60px;
}

h2{
    font-size: 36px;
}

h3{
    font-size: 30px;
}

p{
    font-size: 16px;
}

a{
    color: rgba(67, 68, 85, 1);
    font-size: 12px;
    text-decoration-line: none;
}

a:hover{
    color: rgba(64, 75, 191, 1);
}

footer, .order_service{
    background-color: rgba(46, 47, 66, 1);
    color: rgba(255, 255, 255, 1);
}

.order_service_btn{
    background-color: rgba(77, 90, 229, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}

.order_service_btn:hover{
    background-color: rgba(64, 75, 191, 1);
}

.team{
    background-color: rgba(244, 244, 253, 1);
}